<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiptonForPA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>437FB8A01BFAC663004C3F47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437FB8B41BFAC666004C3F47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437FB8BF1BFAC666004C3F47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
